<h1>Pagina de login</h1>

<p>{{message}}</p>
<p>{{error}}</p>

<form method="post" action="/api/sessions/login" >
    <input type="email" name="email" placeholder="Ingrese su email">
    <br/> <br/>
    <input type="password" name="password" placeholder="Ingrese su contraseña">
    <br/> <br/>
    <button>Iniciar sesión</button>
</form>